  
  body{
   /* background-image: url(/images/back.jpg);
  /* background-color: rgb(255, 255, 255);*/
  margin: 0px;
  
  
   }
   
  
  #top_section{
      position: sticky;
      background:black;
      top: 0;
      height: 100px;
      display:flex;
      justify-content: space-between;
      z-index: 1;
      width:screen;
      flex-wrap:wrap;
  }
  
    h1
    {
      margin: 0px;
      text-align: center;
    }
    #icon{ 
      position: relative;
       text-align: center;
      background-color: #ffffff;
       top: 40%;
        
      cursor: pointer;
      height: 16px;
    }


    #text-LOGO{
      color: #fff;
      position: relative;
      height: 50px;;
      width: auto;
      letter-spacing: 35px;
      top: 30%;
      left: 50px;

      
    }
  #form1
  {
  position: relative;
  bottom: 35px;
  left: 170px;
  display: inline-block;
  }
  
  .container {
   display: inline-block;
    cursor: pointer;
   position: relative;
   top:60% ;
   height: 40px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
    
  }
  
  .change .bar1 {transform: translate(0, 11px) rotate(-45deg);}
  .change .bar2 {opacity: 0;}
  .change .bar3 {transform: translate(0, -11px) rotate(45deg);}
  
  
  .search_bar{
      border-color: rgb(252, 36, 36);
      border-width: 5px;
      height: 35px;
      width: 200px;
      border-radius: 30px;
      cursor: text;
      outline: none;
      background-color:rgb(255, 254, 254);
  
  }
  .onClickShow {
    border-color: rgb(252, 36, 36);
    border-width: 5px;
    height: 300px;
    width: 200px;
    border-radius: 3px;
    cursor: pointer;
    position:absolute;
    bottom:-300px;
    left: 820px ;
    

    text-align: center;
    background-color: rgb(0, 0, 0);
    display:none;
    
    /*background-image: url(images/image3.png);*/
    
    animation-name:anime;
    animation-duration: 800ms;
  
  }
  @keyframes anime{
    0%   { bottom:-450px; }
    
    
  }
  
 
  .onClickShow h4{
    font-size: medium;
    color: rgb(255, 255, 255);
    border: 1px rgb(255, 0, 0);
    cursor: pointer;
  }
   .LINKhava h4{
    display: inline-flex;
    justify-content: space-evenly;    
    justify-content: s;
   }
  
    .LINKhava:hover{
      transform: scale(0.9);
      transition: 2s , ease-in;
      
    }
  
  input[type="text" i] {
      text-align: center;
  }
  
  /*xxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
      
  /*.btn{
      border-color: rgb(250, 49, 49);
      border-width: 7px;
      border-radius:30px ;
      cursor:pointer;
      outline: none;
      background-color:rgb(250, 92, 92);
  }*/
  .btn:hover{
      transform:scale(1.075);
  }
  
  /* xxxxxxxxxxxxxxxxxxxxxxxxxx*/
  .darkMode{
    background-color:rgb(14, 13, 20) ;
  }
  .services{ /*background-image: url(/images/back.jpg);*/
    background-color: #ffffff;
    margin:0px;
    height:screen;
    
   
   }
   
   
   .headerText {
      color:#ff0000 ; 
   }
  
   .services_container{
      display: flex;
      justify-content:center;
      flex-wrap:wrap;
    
   }
  
    .services_card{
      margin: 2rem;
      height: 450px;  
      width: 250px;
      border-radius: 4px;
      background-image:
      url(/images/image1.png);
      
      background-size: cover; 
      color: #fff;
    }
  
    .services_card:nth-child(2){
      background-image: url(/images/image2.png);
    }
    .services_card:nth-child(3){
      background-image: url(/images/games.png) ;
    }
  
    .btn{
      height:30px ;
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
      position: relative;
      top: 200px;
      transition: all ,0.35s;
      color: white;
      font-weight:bold;
    } 
    .btn a {
      position: relative;
      z-index: 2;
      color: #fff;
    }
    .btn::after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: rgb(219, 192, 37);
      transition: all , 0.35s;
      color:rgb(255, 255, 255);
    }
    .btn:hover{
      color: #ffffff;
    }
    
    .btn:hover::after{
      width: 100%;
    }
  


    .services_card p {
      top: 400px;
      left: 25px;
    }
  
    .services h2{
      color: #92ff03;
      top: 350px;
      left: 30px;
    }
  
    .services_card:hover{
      transform: scale(1.075);
      transition: 2s , ease-in;
      position: static;
    }
  /* xxxxxxxxxxxxxx page1 css xxxxxxxxxxxxxxxxxxx*/
       
  .P2service_Card{
    margin: 1rem;
      height: 350px;  
      width: 190px;
      border-radius: 4px;
      background-color: rgb(243, 243, 243);
      background-size: cover; 
      align-items: center;
      position: static;
      text-align: center;
      
  }
  .P2service_Card:hover{
    transform: scale(1.075);
    transition: 80ms;
    position: static;
    border: solid 2px rgb(250, 213, 213);
    
  }
   dl{
    display:inline-table;
    
    height:auto;
   }

   .MONEY{
    color: #33ff00;
     margin:0px;
     border: solid 2px rgb(218, 171, 16);
     border-radius: 10px;
     padding-left: 0px;
   }
   dt{
    height: fit-content;
   }
    
   marquee{ color: rgb(30, 255, 0);}

  .mName:hover{
    
    color: #c300ff;
    animation-name: spinName;
    animation-duration: 1s;
    transform: scale(1.7);
    
     position: relative;
     cursor: pointer;
     
  }
  @keyframes spinName {
    from {
        transform:rotate(0deg);
    }
    to { color: #00b7ff;
        transform:rotate(360deg);
    }
}
.mName{
  color:#8702af;
  

}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.Game_container{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  

}
.Game_card{
  height:auto;
  width: 250;
  border: solid 2px rgb(25, 0, 255);
  text-align: center;
  border-radius: 7px;
  background-color:black;
  margin: 2rem;
}
.Game_card :nth-last-child(){
  border: solid 2px gold;
}
.Game_card img{
  height:350px ;
  width: 200px;
  border-radius: 7px;
}

.Game_card p{
  color: wheat;
  border-radius: 7px;
  height:auto;
  width: 250px;
  margin: 0;
  position:relative;
  background-color: black;
}
.Game_card h2{
  height: auto;
  width:250px ;
  border-radius: 7px;
  margin: 0;
  background-color:black;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.About_card{
  height:auto;
  width:40%;
  border: solid 2px gold;
  text-align: center;
  border-radius: 7px;
  background-color:black;
  color: wheat;
  margin:20px;
}